// @import url("https://fonts.google.com/specimen/Outfit")

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap')

:root
  font-size: 15px
  font-family: Outfit, sans-serif
  --c-white: hsl(0, 0%, 100%)
  --c-lgray: hsl(212, 45%, 89%)
  --c-grblue: hsl(220, 15%, 55%)
  --dark-blue: hsl(218, 44%, 22%)

html
  display: grid
  place-items: center
  overflow: hidden

body
  font-family: Outfit, sans-serif
  // width: 1440px
  // height: 800px
  background: var(--c-lgray)
  display: grid
  place-items: center

  
  .card
    background: var(--c-white)
    width: 320px
    height: 495px
    color: var(--dark-blue)
    text-align: center
    padding: 1rem
    box-sizing: border-box
    border-radius: 1rem
    box-shadow: 0px 0px 2rem grey

    &__header img
      border-radius: .7rem
      overflow: hidden
    
    &__body
      padding: 1rem 0rem
      box-sizing: border-box

      & > *
        margin: 2.5rem 0
        max-width: 260px
        box-sizing: border-box
        padding: .5rem 0rem //0.4821429rem
      
    &__title
      font-weight: 700
      font-size: 1.5rem
      line-height: 1.2
      margin: auto
    
    &__description
      font-size: 1rem
      font-weight: 400
      line-height: 1.2
      margin: auto
      // padding: .7rem 0rem //0.4821429rem
      box-sizing: border-box
      color: var(--c-grblue)
  